body {
    background-color: rgba(0, 72, 255, 0.882);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    color: white;
    justify-content: center;
    font-size: 18pt;
}

section {
    font-size: 16pt;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: white;
    height: 580px;
    width: 900px;
    border-radius: 10px;
    filter: drop-shadow(0 0 18px rgba(0, 0, 0, 0.709)); 
}

#foto {
    border-radius: 100px;
    height: 400px;
    margin-top: 120px;
    width: 400px;
}